:root {
  --border-radius: 2px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.865);
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  padding: 10px;
}

header {
  background-color: navy;
  border-radius: var(--border-radius);
  color: whitesmoke;
  font-size: 1.3rem;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

#search-form {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#search {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  padding: 10px 5px;
  width: 70%;
}

#search-form button {
  background-color: skyblue;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 5px;
  text-align: center;
  width: 15%;
}

#search-form button:hover{
  background-color: #66b0d5;
}

.no-result-message {
  font-size: 1.3rem;
  margin: 15px;
  text-align: center;
}

.movie-card {
  border: 1px solid lightgray;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  margin: 1rem;
  overflow: hidden;
  padding: 5px;
}

.missing-poster {
  background-color: lightgray;
}

.poster {
  border-radius: var(--border-radius);
  height: 141px;
  width: 94px;
}

.details {
  padding: 0 5px;
}

.title {
  font-size: 1.3rem;
}

.date {
  color: gray;
}

.overview {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 560px) {

  #search {
      width: 100%;
    }

  #search-form {
    flex-direction: column;
  }

  #search-form button {
    margin-top: 3px;
    width: 100%;
  }

  .overview {
    -webkit-line-clamp: 2;
  }
}
